nav {
    text-align: center;
    height: 5%;
    width: 100%;
    background-color: darkgreen;
}

body {
    background-color: blue;
    margin: 0%;
}

.pageTitle {
    margin: 0;
    color: red;
}

#myCanvas {
    width: 50%; 
    height: 20%;
}