nav {
    text-align: center;
    height: 5%;
    width: 100%;
    background-color: darkgreen;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

.pageTitle {
    margin: 0;
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
display:inline;
float: right;
}
h1{
 
    display:inline;
       width: 100px;
}