nav {
    text-align: center;
    height: 5%;
    width: 100%;
    background-color: darkgreen;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

.pageTitle {
    margin: 0;
    color: red;
}

ul {
    list-style-type: none;
   
}

li {
display:inline;
float: right;
}
h1{
 
    display:inline;
       width: 100px;
}
.navlinks{
    display:inline-block;
}

.heading{
display:inline-block;
}